version: "3.7"

services:
  fastify_api:
    image: node:14.17-alpine3.12
    container_name: fastify_api
    restart: always
    command: npm run dev
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - 3333:3333
    links:
      - fastify_db
  fastify_db:
    image: postgres:latest
    container_name: fastify_db
    restart: always
    volumes:
      - ./.docker/pg/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=fastify
      - POSTGRES_USER=fastify_api
      - POSTGRES_PASSWORD=passw
    ports:
      - 5432:5432
